@import 'src/assets/styles/global';

.navigation {
  align-items: center;
  background: rgba($white, 0.9);
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  left: 0;
  right: 0;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 0.75em;
}

.navigationItem a {
  color: currentColor;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.navigationRight {
  display: flex;
}
