@import 'src/assets/styles/global';

.post-social {
  align-items: center;
  background: $white;
  bottom: 0;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  padding: 10px 0;
  position: fixed;
  right: 0;
  z-index: 10;
  width: 100%;

  @include media-tablet() {
    align-items: flex-end;
    background: transparent;
    bottom: auto;
    box-shadow: none;
    justify-content: flex-start;
    left: auto;
    right: 20px;
    top: 20px;
    padding: 20px 0 0;
    position: relative;
    right: auto;
    top: 0;
  }

  button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .SocialMediaShareButton {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;

    @include media-tablet() {
      margin-top: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
