/**
 * Colour pallet
 */

/**
 * Purpose colours
 */
$white: #ffffff;
$black: #000000;
$grey-dark: #2c2c2c;
$grey-medium: #74767b;
$grey-light: #a8abb1;

/**
 * Theme colours
 */
$color-primary: #00cba7;
$color-accent: #004a6d;
$color-secondary: #1e1e1e;
$color-rating: #ff3159;
$color-image-grey: #d8d8d8;
$color-red: $color-rating;
$color-orange: #f58223;

/**
 * Font colours
 */
$color-font-body: #3f3f3f;
$color-font-body-light: #808080;
$color-font-body-lighter: #d5d6d9;
$color-font-link: $color-accent;

$border-color-grey: #eeeeee;
$border-color-grey-dark: #e5e5e5;
$brand-linkedin: #0077b5;
$brand-facebook: #3b5998;
